<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
main


<form action="/addDevice" method="post">
    <input type="text"  name="name" placeholder=" name of new device" /><br>
    <input type="text"  name="ipadress" placeholder="  IP Adress of  device" /><br>
    <input type="text"  name="port" placeholder="port" /><br>

    <input type="submit">
</form>

<script>


</script>
</body>
</html>