<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>
    <a th:href="'/'"><button>  На головну </button></a>
</div>
<div style="text-align: center">

    <h1 th:text="${device.name}"  ></h1>
    <h2 th:text="'ipAddress = ' + ${device.ipAddress}" ></h2>
    <h2 th:text="'port = '+ ${device.port} " ></h2>
    <div id="editDevice" >
        <a th:href="'/device/del/'+ ${device.id}"><button>  Видалити </button></a>
        <button onclick="edit('rename')" >  Rename </button>
        <button onclick="edit('ip')" >  Change IP Address </button>
        <button onclick="edit('port')" >  Change Port  </button><br>
    </div>
</div>
<h3 style="text-align: center">Стан підключення: <b id="req"></b></h3>

<div style="text-align: center">
    <div id="divcreateHoldingRegister">
        <ul th:each="holdingRegister:${holdingRegisters}">
            <li>
                <h4   th:text="${holdingRegister.name}+'------ id '+${holdingRegister.id} + ', address:' + ${holdingRegister.address}" ></h4>
                <button th:id="${holdingRegister.id}" onclick="change('-')">-</button> <b th:id="${holdingRegister.id}" name="register" ></b> <button th:id="${holdingRegister.id}" onclick="change('+')">+</button>
                <br>
                <a th:href="'/holdingRegister/del/'+ ${holdingRegister.id}+'/'+${device.id}"> Delete register</a>


            </li>
        </ul>
        <button onclick=createRegister('createHoldingRegister')>   Додайте адрес Holding регістра
        </button>
    </div>
    <div id="divcreateInputRegister">

        <ul th:each="inputRegister:${inputRegisters}">
            <li >
                <h4   th:text="${inputRegister.name}+'------ id '+${inputRegister.id} + ', address:' + ${inputRegister.address}" ></h4>
                 <b th:id="${inputRegister.id}" name="register" ></b>
                <br>
                <a th:href="'/inputRegister/del/'+ ${inputRegister.id}+'/'+${device.id}"> Delete register</a>


            </li>
        </ul>
        <button onclick=createRegister('createInputRegister')> Додайте адрес Input регістра</button>
    </div>
    <div id="divcreateDiscreteRegister">
        <br>
        <ul th:each="discreteRegister:${discreteRegisters}">
            <li >
                <h4   th:text="${discreteRegister.name}+'------ id '+${discreteRegister.id} + ', address:' + ${discreteRegister.address}" ></h4>
                <b th:id="${discreteRegister.id}" name="register" ></b>
                <br>
                <a th:href="'/discreteRegister/del/'+ ${discreteRegister.id}+'/'+${device.id}"> Delete register</a>
            </li>
        </ul>
        <button onclick=createRegister('createDiscreteRegister')>    Додайте адрес Discrete регістра
        </button>
    </div>
    <div id="divcreateCoilsRegister">
        <br>
        <ul th:each="coilsRegister:${coilsRegisters}">
            <li >
                <a th:href="'/registers/'+ ${coilsRegister.id}" th:text="${coilsRegister.address} + ':' + ${coilsRegister.value}" ></a>
            </li>
        </ul>
         <!--<b th:id="${coilsRegister.id}" name="register"></b>-->
        <button onclick=createRegister('createCoilsRegister')>Додайте адрес Coil регістра</button>
    </div>


    <!--<ul th:each="device:${devices}">-->
        <!--<li >-->
            <!--<a th:href="'/device/'+ ${device.id}" th:text="${device.name} + ':' + ${device.ipAddress}" ></a>-->
        <!--</li>-->
    <!--</ul>-->

</div>


<script th:inline="javascript">
    function change( znak ) {
        let id = event.target.id;
        let elementsByName = document.getElementsByName('register');
        for (let i = 0; i < elementsByName.length; i++) {
            let insertEle = elementsByName[i];
            if(elementsByName[i].id===id){
                $.ajax({
                    type:'PUT',
                    url: 'http://localhost:8080/write/change/' +id + '/' + znak,
                    success: function (data) {
                        insertEle.innerText = data;
                    }
                })
            }

        }







    }

    setInterval( function () {
        let elementsByName = document.getElementsByName('register');
        for(let i = 0; i<elementsByName.length; i++){
            let element = elementsByName[i];
            let id = elementsByName[i].id;

            listener(element,id);

        }
    },3000);
    function listener( element, id ) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/register/" + id ,
            success: function (data) {
                element.innerText = data;
            }

        })
    }

    function edit(idOfButton) {

        if(document.getElementById("rename")==null
            && document.getElementById("ip")==null
            && document.getElementById("port")==null) {
            let input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("id", idOfButton);
            input.setAttribute("placeholder", idOfButton);
            let inputSubmit = document.createElement("input");
            inputSubmit.setAttribute("type", "submit");
            inputSubmit.setAttribute("id", idOfButton+"btn");
            document.getElementById("editDevice").appendChild(input);
            document.getElementById("editDevice").appendChild(inputSubmit);
        }else if(document.getElementById("rename")!=null){
            document.getElementById("rename").remove();
            document.getElementById("renamebtn").remove();
            edit(idOfButton);
        }else if(document.getElementById("ip")!=null){
            document.getElementById("ip").remove();
            document.getElementById("ipbtn").remove();
            edit(idOfButton);

        }else if(document.getElementById("port")!=null){
            document.getElementById("port").remove();
            document.getElementById("portbtn").remove();
            edit(idOfButton);
        }
        let $idOfButton = $('#'+idOfButton+'btn');
        $idOfButton.click(function () {
            let id = [[${device.id}]];
            let deviceData;
            if(idOfButton ==="rename") {
                let $name = $('#' + idOfButton);
                let name = $name.val();
                $name.val('');

                deviceData = JSON.stringify({id, name});
                $.ajax({
                    url: 'http://localhost:8080/setName',
                    type: 'POST',
                    data: deviceData,
                    contentType: 'application/json',
                    success: function () {
                        document.location.reload(true);
                    }})
            }
            else if(idOfButton ==="ip") {
                let $name = $('#' + idOfButton);
                let ipAddress = $name.val();
                $name.val('');

                deviceData = JSON.stringify({id, ipAddress});
                $.ajax({
                    url: 'http://localhost:8080/setIpAddress',
                    type: 'POST',
                    data: deviceData,
                    contentType: 'application/json',
                    success: function () {
                        document.location.reload(true);
                    }





                })

            }
            else if(idOfButton ==="port") {
                let $name = $('#' + idOfButton);
                let port = $name.val();
                $name.val('');

                deviceData = JSON.stringify({id, port});
                $.ajax({
                    url: 'http://localhost:8080/setPort',
                    type: 'POST',
                    data: deviceData,
                    contentType: 'application/json',
                    success: function () {
                        document.location.reload(true);
                    }





                })

            }
        })

    }
    function createRegister(idOfButton) {

        if(document.getElementById("createHoldingRegister")==null
            && document.getElementById("createInputRegister")==null
            && document.getElementById("createDiscreteRegister")==null
            && document.getElementById("createCoilsRegister")==null) {
            let input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("id", idOfButton);
            input.setAttribute("placeholder", "address");
            let inputName = document.createElement("input");
            inputName.setAttribute("type", "text");
            inputName.setAttribute("id", idOfButton+"Name");
            inputName.setAttribute("placeholder", "name of address");
            let inputSubmit = document.createElement("input");
            inputSubmit.setAttribute("type", "submit");
            inputSubmit.setAttribute("id", idOfButton+"btn");
            document.getElementById('div'+idOfButton).appendChild(input);
            document.getElementById('div'+idOfButton).appendChild(inputName);
            document.getElementById('div'+idOfButton).appendChild(inputSubmit);

        }
        else if(document.getElementById("createHoldingRegister")!=null){
            document.getElementById("createHoldingRegister").remove();
            document.getElementById("createHoldingRegisterbtn").remove();
            document.getElementById("createHoldingRegisterName").remove();
            createRegister(idOfButton);
        }
        else if(document.getElementById("createInputRegister")!=null){
            document.getElementById("createInputRegister").remove();
            document.getElementById("createInputRegisterbtn").remove();
            document.getElementById("createInputRegisterName").remove();
            createRegister(idOfButton);

        }
        else if(document.getElementById("createDiscreteRegister")!=null){
            document.getElementById("createDiscreteRegister").remove();
            document.getElementById("createDiscreteRegisterbtn").remove();
            document.getElementById("createDiscreteRegisterName").remove();
            createRegister(idOfButton);
        }
        else if(document.getElementById("createCoilsRegister")!=null){
            document.getElementById("createCoilsRegister").remove();
            document.getElementById("createCoilsRegisterName").remove();
            createRegister(idOfButton);
        }

        let $idOfButton = $("#" + idOfButton + "btn");
        $idOfButton.click(function () {
            let id = [[${device.id}]];
            let addressData;
            let $address = $('#' + idOfButton);
            let address = $address.val();
            $address.val('');
            let $name = $('#' + idOfButton+"Name");
            let name = $name.val();
            $name.val('');
            addressData = JSON.stringify({address, name});
            let url ;
            if(idOfButton ==="createHoldingRegister"){url = 'http://localhost:8080/device/createHR/'+id}
            else if (idOfButton ==="createInputRegister"){url = 'http://localhost:8080/device/createIR/'+id}
            else if (idOfButton ==="createDiscreteRegister"){url = 'http://localhost:8080/device/createDR/'+id}
            else if (idOfButton ==="createCoilsRegister"){url = 'http://localhost:8080/device/createCR/'+id}
            $.ajax({
                    url: url,
                    type: 'POST',
                    data: addressData,
                    contentType: 'application/json',
                    success: function () {
                        document.location.reload(true);
                    }
                })


        })

    }

    setInterval(function req() {
        let elementReq = document.getElementById('req');
        $.ajax({
                type: "GET",
                url: "http://localhost:8080/request",
                success: function (data) {
                    if(data === true){elementReq.style.setProperty('color','green');}
                    else{elementReq.style.setProperty('color','red');}
                    elementReq.innerText = data;
                }
            })
    }, 3000);



</script>


</body>
</html>