<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body style="text-align: center">

<h1 th:href="'/device/'+ ${device.id}" th:text="${device.name} + ':' + ${device.ipadress}" ></h1>
<a th:href="'/device/del/'+ ${device.id}"><button>  Видалити </button></a>
<button onclick="edit('rename')" >  Rename </button>
<button onclick="edit('ip')" >  Change IP Address </button>
<button onclick="edit('port')" >  Change Port  </button><br>




<script>
    function edit(idOfButton) {
        if(document.getElementById("rename")==null
            && document.getElementById("ip")==null
            && document.getElementById("port")==null) {
                var input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("id", idOfButton);
                input.setAttribute("placeholder", idOfButton);
                var inputSubmit = document.createElement("input");
                inputSubmit.setAttribute("type", "submit");
                inputSubmit.setAttribute("id", idOfButton);
                var button = document.getElementById(idOfButton);
                document.body.appendChild(input);
                document.body.appendChild(inputSubmit);
            }
    }

</script>


</body>
</html>