<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head >
<body>
<button id = "createDevice"><a href="/createDevice">Add a device</a></button>


<ul th:each="device:${devices}">
    <li >
        <a th:href="'/device/'+ ${device.id}" th:text="${device.name} + ':' + ${device.ipAddress}" ></a>
    </li>
</ul>



    <input type="text" id="writeHoldingReg1" name="start1" placeholder="start address" /><br>
    <input type="text" id="writeHoldingReg2" name="value1" placeholder="value" /><br>

   <button id = "btn">  записати</button>

<script>


   // let $btn = $("#btn");
   // $btn.click(function () {
   //     let $input1 = $('#writeHoldingReg1');
   //     let start = $input1.val();
   //     $input1.val('');
   //     let $input2 = $('#writeHoldingReg2') ;
   //     let value = $input2.val();
   //     $input2.val('');
   //     let $input3 = $('#quantityHR') ;
   //     let quantityHR = $input3.val();
   //     $input2.val('');
   //     let $input4 = $('#quantityCR') ;
   //     let quantityCR = $input4.val();
   //     $input2.val('');
   //     let $input5 = $('#quantityDR') ;
   //     let quantityDR = $input5.val();
   //     $input2.val('');
   //     let $input6 = $('#quantityIR') ;
   //     let quantityIR = $input6.val();
   //     $input2.val('');
   //     let address = JSON.stringify({start, value, quantityHR, quantityCR, quantityDR, quantityIR});
   //     $.ajax({
   //         url: 'http://localhost:8080/write/test',
   //         type:'PUT',
   //         data: address,
   //         contentType:'application/json',
   //         success: function (result) {
   //             console.log(result);
   //         }
   //
   //     })
   //
   // })





</script>
</body>
</html>