<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head >
<body>
main
<button id = "createDevice"><a href="/createDevice">Add a device</a></button>


<ul th:each="device:${devices}">
    <li >
        <a th:href="'/device/'+ ${device.id}" th:text="${device.name} + ':' + ${device.ipAddress}" ></a>
    </li>
</ul>



<h5>Підключення до приладу</h5>
<h5 id="req"></h5>
<h5>Температура 17 регістр</h5>
<h5 id="reg17"></h5>
<h5>Температура 18 регістр</h5>
<h5 id="reg18"></h5>
<h5>Температура 19 регістр</h5>
<h5 id="reg19"></h5>
<h5>Температура 20 регістр</h5>
<h5 id="reg20"></h5>
<h5>Стан установки</h5>
<h5 id="hre1"></h5>


    <input type="text" id="writeHoldingReg1" name="start1" placeholder="start adress" /><br>
    <input type="text" id="writeHoldingReg2" name="value1" placeholder="value" /><br>
   <button id = "btn">  записати</button>

<script>


   let $btn = $("#btn");
   $btn.click(function () {
       let $input1 = $('#writeHoldingReg1');
       let start = $input1.val();
       $input1.val('');
       let $input2 = $('#writeHoldingReg2') ;
       let value = $input2.val();
       $input2.val('');
       console.log(start);
       console.log(value);
       let adress = JSON.stringify({start, value});
       $.ajax({
           url: 'http://localhost:8080/write/test',
           type:'PUT',
           data: adress,
           contentType:'application/json',
           error: function(err){
               console.log(err);
           },
           success: function (result) {
               console.log(result);
           }

       })

   })




    setInterval(function reg17() {


        $.ajax({
            type: "GET",
            url: "http://localhost:8080/reg17",
            success: function (data) {
                document.getElementById('reg17').innerText = data;
            }
        })
    }, 1000);




        setInterval(function reg18() {


            $.ajax({
                type: "GET",
                url: "http://localhost:8080/reg18",
                success: function (data) {
                    document.getElementById('reg18').innerText = data;
                }
            })
        }, 1000);
    setInterval(function reg19() {


        $.ajax({
            type: "GET",
            url: "http://localhost:8080/reg19",
            success: function (data) {
                document.getElementById('reg19').innerText = data;
            }
        })
    }, 1000);
    setInterval(function reg20() {


        $.ajax({
            type: "GET",
            url: "http://localhost:8080/reg20",
            success: function (data) {
                document.getElementById('reg20').innerText = data;
            }
        })
    }, 1000);
    setInterval(function req() {


        $.ajax({
            type: "GET",
            url: "http://localhost:8080/req",
            success: function (data) {
                document.getElementById('req').innerText = data;
            }
        })
    }, 3000);
    setInterval(function hre1() {


        $.ajax({
            type: "GET",
            url: "http://localhost:8080/hre1",
            success: function (data) {
                document.getElementById('hre1').innerText = data;
            }
        })
    }, 1000);
</script>
</body>
</html>